<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ixuhan.ygk.dao.GoodsEntityMapper" >
  <resultMap id="BaseResultMap" type="cn.ixuhan.ygk.model.GoodsEntity" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_desc" property="goodsDesc" jdbcType="VARCHAR" />
    <result column="goods_price_old" property="goodsPriceOld" jdbcType="DOUBLE" />
    <result column="goods_price_new" property="goodsPriceNew" jdbcType="DOUBLE" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_lrrq" property="goodsLrrq" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    goods_id, goods_name, goods_desc, goods_price_old, goods_price_new, goods_img, goods_lrrq
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.ixuhan.ygk.model.GoodsEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_entity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_entity
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_entity
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.ixuhan.ygk.model.GoodsEntityExample" >
    delete from goods_entity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.ixuhan.ygk.model.GoodsEntity" >
    insert into goods_entity (goods_id, goods_name, goods_desc, 
      goods_price_old, goods_price_new, goods_img, 
      goods_lrrq)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsDesc,jdbcType=VARCHAR}, 
      #{goodsPriceOld,jdbcType=DOUBLE}, #{goodsPriceNew,jdbcType=DOUBLE}, #{goodsImg,jdbcType=VARCHAR}, 
      #{goodsLrrq,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.ixuhan.ygk.model.GoodsEntity" >
    insert into goods_entity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsDesc != null" >
        goods_desc,
      </if>
      <if test="goodsPriceOld != null" >
        goods_price_old,
      </if>
      <if test="goodsPriceNew != null" >
        goods_price_new,
      </if>
      <if test="goodsImg != null" >
        goods_img,
      </if>
      <if test="goodsLrrq != null" >
        goods_lrrq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null" >
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsPriceOld != null" >
        #{goodsPriceOld,jdbcType=DOUBLE},
      </if>
      <if test="goodsPriceNew != null" >
        #{goodsPriceNew,jdbcType=DOUBLE},
      </if>
      <if test="goodsImg != null" >
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsLrrq != null" >
        #{goodsLrrq,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.ixuhan.ygk.model.GoodsEntityExample" resultType="java.lang.Integer" >
    select count(*) from goods_entity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods_entity
    <set >
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsDesc != null" >
        goods_desc = #{record.goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPriceOld != null" >
        goods_price_old = #{record.goodsPriceOld,jdbcType=DOUBLE},
      </if>
      <if test="record.goodsPriceNew != null" >
        goods_price_new = #{record.goodsPriceNew,jdbcType=DOUBLE},
      </if>
      <if test="record.goodsImg != null" >
        goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsLrrq != null" >
        goods_lrrq = #{record.goodsLrrq,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods_entity
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_desc = #{record.goodsDesc,jdbcType=VARCHAR},
      goods_price_old = #{record.goodsPriceOld,jdbcType=DOUBLE},
      goods_price_new = #{record.goodsPriceNew,jdbcType=DOUBLE},
      goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      goods_lrrq = #{record.goodsLrrq,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ixuhan.ygk.model.GoodsEntity" >
    update goods_entity
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null" >
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsPriceOld != null" >
        goods_price_old = #{goodsPriceOld,jdbcType=DOUBLE},
      </if>
      <if test="goodsPriceNew != null" >
        goods_price_new = #{goodsPriceNew,jdbcType=DOUBLE},
      </if>
      <if test="goodsImg != null" >
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsLrrq != null" >
        goods_lrrq = #{goodsLrrq,jdbcType=DATE},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ixuhan.ygk.model.GoodsEntity" >
    update goods_entity
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      goods_price_old = #{goodsPriceOld,jdbcType=DOUBLE},
      goods_price_new = #{goodsPriceNew,jdbcType=DOUBLE},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      goods_lrrq = #{goodsLrrq,jdbcType=DATE}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>